{{template "header" .}}

<link href="/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
<div >
    <input type="hidden" value="{{.DbName}}" id="DbName" />
    <div class="row">
        <div class="col-sm-2" id="MyWebLeft_1">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{.DbName}} - Schema List</h5>
                </div>
                <div class="ibox-content">
                    <div class="list-group" id="DatabaseListContair">
                    {{range $i, $v := .DataBaseList}}
                        <a class="list-group-item" id="Schema-{{$i}}">
                            <h3 class="list-group-item-heading">{{$v}}</h3>
                        </a>
                    {{end}}
                    </div>

                </div>
            </div>

        </div>
        <div class="col-sm-3" style=" padding-left: 0px;" id="MyWebLeft_2">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="position: relative">
                    <h5>Table List</h5>
                    <div  style="margin-left: 70px; margin-top:-10px; width: 50%" ><input type="text" class="form-control" placeholder="search" id="TableSearchName"></div>
                    <div id="MyWebHideBtn" onclick="showOrHideMyWeb();" style="position: absolute;right: 20px; top: 15px; font-weight:600; color:#666; cursor:pointer">Hide</div>
                </div>
                <style type="text/css">
                    .tableDiv{display:block; width:100%; height: 25px; position: relative}
                    .tableDiv .left{ display:block; float:left; width:79%; line-height:100%;word-wrap: break-word;  }
                    .tableDiv .right{ display:block; position: absolute; right: -10px ;top: 0px; width:78px; line-height: 25px;}
                    .tableDiv .right1{ display:block; position: absolute; right: 48px ;top: 0px; width:78px; line-height: 25px;}
                    .tableDiv .right2{ display:block; position: absolute; right: 105px ;top: 0px; width:78px; line-height: 25px;}
                    .tableDiv .right .button{ float: left;}
                    .tableDiv .right .check_input{ float: left;margin-left: 8px; margin-top: 2px}
                    .tableDiv .right1 .button{ float: left;}
                    .tableDiv .right2 .button{ float: left;}
                </style>
                <div class="ibox-content">
                    <div class="list-group" id="TableListContair">

                    </div>
                    <div id="bachTableDelOrAddBtnDiv">
                        <button data-toggle="button" class="btn-sm btn-danger" type="button" id="batchTableDeleteBtn">批量删除</button>
                        <button data-toggle="button" class="btn-sm btn-warning" id="batchTableChanneBindBtn" type="button">批量绑定通道</button>
                    </div>
                    <div style="line-height: 150%; padding: 10px">
                        <p>点击 ADD 按钮后再点击表名,让表名的背景变成绿色</p>
                        <p>多选框选中只能用于批量操作,要针对某一个表添加同步设置，请<strong style="color: #F00">点击</strong>表名，让表背景变成绿色</p>
                    </div>

                    <div id="batchDelOrAddTableResultDiv" style="padding-top: 20px; display:none"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-7" style=" padding-left: 0px;" id="MyWebLeft_3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" >
                    <h5>Table ToServer List
                        <span id="tableSelectShowDiv" style="display: none">
                        <a  href="#" id="tableFlowBtn" target="_blank"><button class="btn-sm btn-primary" type="button" style="margin-top: -8px">Flow</button></a>
                        &nbsp;
                        <button class="btn-sm btn-primary" id="historyAddBtn" type="button" style="margin-top: -8px" title="点击后可配置读取数据表的数据进行全量数据初始化">刷全量数据</button>
                        &nbsp;
                        <a href="#" id="tableHistoryListBtn" target="_blank">
                        <button class="btn-sm btn-primary" id="" type="button" style="margin-top: -8px">查看全量任务列表</button>
                        </a>
                        </span>
                    </h5>
                </div>
                <div class="ibox-content">

                    <!--list start--->
                    <div class="example-wrap">
                        <div class="example">
                            <table id="tableToServerListContair" schema="" TableName="" DbName="" data-toggle="table" data-query-params="queryParams" data-mobile-responsive="true" data-height="auto" data-pagination="false" data-icon-size="outline">
                                <thead>
                                <tr>
                                    <th data-field="sliceid">sliceId/ID</th>
                                    <th data-field="PluginName">PluginType</th>
                                    <th data-field="ToServerKey">ToServerKey</th>
                                    <th data-field="FieldList">FieldList</th>
                                    <th data-field="Others">Others</th>
                                    <th data-field="PluginParam">PluginParam</th>
                                    <th data-field="Error">Error</th>
                                    <th data-field="op">op</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!--list end -->

                </div>


                <div class="ibox-content" id="addToServerContair">
                    <div class="row row-lg">

                        <!-- left -->
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">ToServerKey：</label>
                                <div class="col-sm-9" style="position: relative">
                                    <select class="form-control" name="addToServerKey" id="addToServerKey">
                                    {{range $k,$v := .ToServerList}}
                                        <option value="{{$k}}" pluginName="{{$v.PluginName}}" pluginVersion="{{$v.PluginVersion}}">{{$v.PluginName}} -- {{$k}}</option>
                                    {{end}}
                                    </select>
                                    <span class="help-block m-b-none"></span>
                                    <div style="position: absolute; top: 0px; right: -30px;">
                                        <a href="#" target="_blank" id="addToServerKeyDoc"><button class="btn-sm btn-primary" type="button" style="padding: 5px">DOC</button></a>
                                    </div>
                                </div>
                            </div>

                            <div id="plugin_param_div" style="padding:10px 0px">

                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">MustBeSuccess：</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="MustBeSuccess" id="MustBeSuccess">
                                        <option value="true" selected="selected">True</option>
                                        <option value="false">False</option>
                                    </select>
                                    <p class="help-block m-b-none">True: 插件返回失败，自动重试，直到成功为止</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">FilterQuery：</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="FilterQuery" id="FilterQuery">
                                        <option value="true" selected="selected">True</option>
                                        <option value="false">False</option>
                                    </select>
                                    <p class="help-block m-b-none">True: 将过滤sql 事件，不提供给插件层处理，False: 由插件层自行决定怎么处理</p>
                                </div>
                                
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">FilterUpdate：</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="FilterUpdate" id="FilterUpdate">
                                        <option value="true" selected="selected">True</option>
                                        <option value="false">False</option>
                                    </select>
                                    <p class="help-block m-b-none">True: update事件，所选字段内容都没有变更情况下，不进行推送，False: 不管字段有没有更新，全部都会推送</p>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">&nbsp;</label>
                                <div class="col-sm-9" style="padding-top: 15px;">
                                    <button data-toggle="button" class="btn-sm btn-primary" id="addToServerBtn" type="button">提交</button>
                                    <button data-toggle="button" class="btn-sm btn-success" id="batchAddToServerBtn" type="button">批量提交</button>
                                    <p>&nbsp;</p>
                                    <p style="color:#F00">批量提交，将会提交到多选框选中并且已绑定Channel的表里,批量提交,字段不能选,默认全选</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">&nbsp;</label>
                                <div class="col-sm-9" style="padding-top: 15px;" id="batchAddToServerResultDiv">

                                </div>
                            </div>
                        </div>

                        <!-- left end-->
                        <!-- right start-->

                        <div class="col-md-5">
                            <label class="col-sm-2 control-label">Fields：</label>
                            <div class="col-sm-10" id="TableFieldsContair">

                            </div>
                        </div>

                        <!-- right end-->

                    </div>
                </div>
            </div>


        </div>
    </div>


<!--显示模糊匹配表 匹配所有表 start-->
<div class="modal inmodal fade" id="showLikeTable" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="showLikeTable_Title"></h3>
            </div>
            <div class="modal-body" id="showLikeTable_Body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-white" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ShowLikeTableNames(tableName,ignoreTables,doTables) {
        var tableNames = getTablesByLikeName(tableName);
        var newIgnoreTables = ignoreTables+",";
        var newDoTables = "";
        if (doTables != "") {
            newDoTables = doTables + ","
        }
        $("#showLikeTable_Title").text(tableName);
        var html = "";
        for (var name of tableNames.split(";")) {
            if (newDoTables != "") {
                if( newDoTables.indexOf(name+",") >= 0 ){
                    html += "<p>"+name+"</p>";
                }
            }else{
                if( newIgnoreTables.indexOf(name+",") < 0 ){
                    html += "<p>"+name+"</p>";
                }
            }
        }
        $("#showLikeTable_Body").html(html);
        $("#showLikeTable").modal('show');
    }
</script>
<!--显示模糊匹配表 匹配所有表 over-->

    <script src="/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/md5.min.js"></script>
    <script type="text/javascript">

        // 当前 数据源的别名
        var DbName = "{{.DbName}}";
        // 当前被选中 库名
        var SchemaName = "";
        // 当前被选中 表名
        var TableName = ""
        // 当前被激活的input 的id
        var OnFoucsInputId = "";
        // 当前选中的表 字段对应的类型关系
        var tableDataTypeMap = {};
        // 通过 api 获取出来的表结构缓存
        var TableMap = new Map();

        // 库名对就原表列表缓存，一个库一个key，map里存的是当前这个库的表列表信息
        var DataBaseMap = new Map();

        function getDbName() {
            return DbName;
        }
        function setSchemaName(name) {
            SchemaName = name
        }

        function getSchemaName() {
            return SchemaName;
        }

        function setTableName(name) {
            TableName = name
        }

        function getTableName() {
            return TableName
        }

        function getPluginFunctionParam() {
            var param = {
                DbName : getDbName(),
                SchemaName: getSchemaName(),
                TableName: getTableName(),
            }
            return param;
        }

        function getTableFieldType(field) {
            return tableDataTypeMap[field];
        }

        function clearTableDataMap() {
            tableDataTypeMap = {};
        }
        function setTableFieldType(field,dataType) {
            tableDataTypeMap[field] = dataType;
        }

        function setPluginParamDefault(key,value) {
            if (key == undefined || key == null){
                $("#MustBeSuccess").val("true");
                $("#FilterQuery").val("true");
                $("#MustBeSuccess").val("true");
                return;
            }
            switch (key){
                case "FilterUpdate":
                    if (value != false && value != "false"){
                        $("#FilterUpdate").val("true");
                    }else{
                        $("#FilterUpdate").val("false");
                    }
                    break;
                case "FilterQuery":
                    if (value != false && value != "false"){
                        $("#FilterQuery").val("true");
                    }else{
                        $("#FilterQuery").val("false");
                    }
                    break;
                case "MustBeSuccess":
                    if (value != false && value != "false"){
                        $("#MustBeSuccess").val("true");
                    }else{
                        $("#MustBeSuccess").val("false");
                    }
                    break;
                default:
                    break;
            }
            return;
        }

        function showOrHideMyWeb(){
            var status = $("#MyWebHideBtn").attr("status");
            if (status == "hide"){
                $("#MyWebLeft_2").removeClass("col-sm-1").addClass("col-sm-3");
                $("#MyWebLeft_3").removeClass("col-sm-11").addClass("col-sm-7");
                $("#MyWebLeft_1").show();
                $("#MyWebHideBtn").attr("status","show");
            }else{
                $("#MyWebLeft_1").hide();
                $("#MyWebLeft_2").removeClass("col-sm-3").addClass("col-sm-1");
                $("#MyWebLeft_3").removeClass("col-sm-7").addClass("col-sm-11");
                $("#MyWebHideBtn").attr("status","hide");
            }
        }

        function showBatchDelOrAddBtn() {
            $("#bachTableDelOrAddBtnDiv").show();
        }
        $("#bachTableDelOrAddBtnDiv").hide();

        function batchDelOrAddTableResultFun(content,type) {
            if(type == -1){
                $("#batchDelOrAddTableResultDiv").show();
            }
            if (type == 0 || type == -1 ){
                $("#batchDelOrAddTableResultDiv").html("<p>"+content+"</p>");
            }else{
                $("#batchDelOrAddTableResultDiv").append("<p>"+content+"</p>");
            }
            if(type == -2){
               // $("#batchDelOrAddTableResultDiv").hide();
            }
        }

        $("#batchTableChanneBindBtn").click(
            function () {
                var TableNames = "";
                $("#TableListContair .check_input input[type='checkbox']:checked").each(function (index, item) {
                    if($(this).parent().parent().find(".button button").text()=="ADD"){
                        TableNames += $(this).val()+";"
                    }
                });
                showAddTable(TableNames);
            }
        );

        $("#batchTableDeleteBtn").click(
                function () {
                    var TableNames = "";
                    $("#TableListContair .check_input input[type='checkbox']:checked").each(function (index, item) {
                        if($(this).parent().parent().find(".button button").text()=="DEL"){
                            TableNames += $(this).val()+";"
                        }
                    });
                    DelTable(TableNames);
                }
        );

        function TransferLikeTableReq(TableName) {
            if (TableName == "AllTables") {
                return ".*";
            }else{
                var reqTableName = TableName;
                // 第一个字符如果是 * 的情况下,则自动替换成 (.*), 因为第一个字符是 * 的情况下,正则是错误的
                if (reqTableName.charAt(0) == "*"){
                    reqTableName = "(.*)"+reqTableName.substr(1,reqTableName.length-1);
                }
                // 只要前面不是 （.*）,则自动替换面 ^ 开头，代表前面没数据了
                if ((reqTableName.indexOf("(.*)") != 0) && reqTableName.charAt(0) != "^") {
                    reqTableName = "^"+reqTableName
                }
                // 假如末尾是 *，则替换面 (.*)
                // binlog_field_test_*  会匹配 出 binlog_field_test ，但是  binlog_field_test_（.*） 不会匹配 binlog_field_test 出来
                if (reqTableName.charAt(reqTableName.length-1) == "*"){
                    reqTableName = reqTableName.substr(0,reqTableName.length-1)+"(.*)";

                }
                // 字符串如果不是 (.*) 结尾,则自动替换面 $,代表后面没有数据了
                if (reqTableName.length >= 4 && reqTableName.substr(reqTableName.length-4,reqTableName.length) != "(.*)" && reqTableName.charAt(reqTableName.length-1) != "$"){
                    reqTableName = reqTableName + "$";
                }
                return reqTableName;
            }
        }

        function getTablesByLikeName(TableName) {
            var TableNames = "";
            var reg;
            if ( TableName != "AllTables" && TableName.indexOf("*") == -1 ){
                return "";
            }
            reg = new RegExp(TransferLikeTableReq(TableName));
            $('#TableListContair').find(":input[name=table_check_name]").each(function(){
                if( $(this).val() != "AllTables" && $(this).val().indexOf("*") == -1 ){
                    var regResult = $(this).val().match(reg);
                    if ( regResult != null && regResult != undefined){
                        TableNames += $(this).val()+";";
                    }
                }
            });
            return TableNames;
        }

        function DelTable(TableNames){
            if(TableNames == ""){
                return false;
            }
            if (!confirm("确定删除 [ "+TableNames+" ] ?删除后不能恢复!!!")){
                return false;
            }
            var DbName = $("#DbName").val();
            var SchemaName = $("#DatabaseListContair a.active").find("h3").text();
            var url = "/table/del";
            var arr = TableNames.split(";");
            batchDelOrAddTableResultFun("开始删除",-1);
            for( var i in arr) {
                var TableName = arr[i];
                if ( TableName == "" ){
                    continue;
                }
                var callback = function (data) {
                    if (data.status) {
                        var tableDivId = md5(SchemaName + "_-" + TableName);
                        var html = '<button data-toggle="button" class="btn-warning btn-sm" type="button" onClick="showAddTable(\'' + TableName + '\')">ADD</button>';
                        $("#" + tableDivId + " .right .button").html(html);
                        DataBaseMap.delete(SchemaName);
                    }
                    batchDelOrAddTableResultFun(TableName +" DEL Result:"+data.msg,1);
                };
                var ajaxParam =  {DbName: DbName, SchemaName: SchemaName, TableName: TableName};
                Ajax("POST",url, ajaxParam,callback,false);
            }
            batchDelOrAddTableResultFun("删除完成",-2);
        }
        function ChangeTableFlowBtnHref(SchemaName,TableName){
            $("#tableFlowBtn").attr("href","/flow/index?DbName="+DbName+"&SchemaName="+SchemaName+"&TableName="+TableName);
            $("#tableHistoryListBtn").attr("href","/history/index?DbName="+DbName+"&SchemaName="+SchemaName+"&TableName="+TableName);
            $("#tableSelectShowDiv").show();
        }

        //将表设置为 选中 或 非选中 状态
        function table_check_input(id) {
            var idNew = "#"+id+" .check_input input[name=table_check_name]";
            if($(idNew).is(':checked')){
                $(idNew).prop("checked", false);
            }else{
                $(idNew).prop("checked", true);
            }
        }

        function GetTableToServerList(SchemaName,TableName){
            var key = md5(SchemaName+"_-"+TableName);
            if ($("#"+key+" .right button").text() == "ADD"){
                table_check_input(key);
                return  false;
            }
            setTableName(TableName);
            UpdateWebUri(SchemaName,TableName);
            $("#TableListContair a").removeClass("active");
            $("#"+key).parent("a").addClass("active");
            ChangeTableFlowBtnHref(SchemaName,TableName);
            var url = "/table/toserver/list";
            var callback = function (data) {
                var e = [];
                $.each(data,function(index,v){
                    var fields = '';
                    if (v.FieldList != null) {
                        fields = v.FieldList.toString();
                    }
                    var PluginHtml = "";
                    for(var key in v.PluginParam){
                        if (typeof v.PluginParam[key] == "object"){
                            PluginHtml += "<p>"+key+":"+ JSON.stringify(v.PluginParam[key]) +"</p>";
                        }else{
                            PluginHtml += "<p>"+key+":"+v.PluginParam[key]+"</p>";
                        }
                    }
                    var ErrorHtml = "";
                    if (v.Error != "" && v.Error != null){
                        var ErrData = "";
                        if ( v.ErrorWaitData != null ) {
                            ErrData = JSON.stringify(v.ErrorWaitData);
                        }
                        ErrorHtml = "<p>Err:"+v.Error+"</p><p>Data:"+ErrData+"</p><p><button data-toggle='button' class='btn-sm btn-primary' onClick='DealWaitErr(this,"+v.ToServerID+")' type='button'>Skip</button></p>";
                    }
                    var op = "<p>"+v.Status+"</p>";
                    if (v.Status == "stopped"){
                        op += '<p><button data-toggle="button" class="btn-sm btn-primary btn-sm" type="button" onClick="UpdateTableToServerStatus(this,'+v.ToServerID+','+index+',\'start\')">START</button></p>';
                        op += '<p><button data-toggle="button" class="btn-sm btn-danger btn-sm" type="button" onClick="UpdateTableToServerStatus(this,'+v.ToServerID+','+index+',\'del\')">DEL</button></p>';
                    }else if (v.Status == "running" || v.Status == ""){
                        op += '<p><button data-toggle="button" class="btn-sm btn-warning btn-sm" type="button" onClick="UpdateTableToServerStatus(this,'+v.ToServerID+','+index+',\'stop\')">STOP</button></p>';
                        op += '<p><button data-toggle="button" class="btn-sm btn-danger btn-sm" type="button" onClick="UpdateTableToServerStatus(this,'+v.ToServerID+','+index+',\'del\')">DEL</button></p>';
                    }else{
                        op = v.Status;
                    }
                    var others = "";

                    others += "<p>MustBeSuccess: "+v.MustBeSuccess+"</p><p>FilterQuery: "+v.FilterQuery+"</p><p>FilterUpdate: "+v.FilterUpdate+"</p>";

                    others += "<p title=\"最后一个成功处理的位点\">BinlogFileNum: "+v.LastSuccessBinlog.BinlogFileNum+"</p><p>BinlogPosition: "+v.LastSuccessBinlog.BinlogPosition+"</p>";
                    others += "<p title=\"最后一个成功处理的GTID\">GTID: "+v.LastSuccessBinlog.GTID+"</p><p>Timestamp: "+v.LastSuccessBinlog.Timestamp+"</p>";
                    others += "<p title=\"最后一个成功处理的EventID\">EventID: "+v.LastSuccessBinlog.EventID+"</p>";

                    others += "<p>LastQueueFileNum: "+v.LastQueueBinlog.BinlogFileNum+"</p>";
                    others += "<p title=\"队列最后一个位点\">LastQueuePosition: "+v.LastQueueBinlog.BinlogPosition+"</p>";
                    others += "<p title=\"队列最后一个GTID\">LastQueueGTID: "+v.LastQueueBinlog.GTID+"</p>";
                    others += "<p title=\"队列最后一个时间\">LastQueueTimestamp: "+v.LastQueueBinlog.Timestamp+"</p>";
                    others += "<p title=\"队列最后一个EventID\">LastQueueEventID: "+v.LastQueueBinlog.EventID+"</p>";

                    others += "<p title=\"文件队列是否启用\">FileQueueStatus: "+v.FileQueueStatus+"</p>";
                    if ("QueueMsgCount" in v) {
                        others += "<p title=\"内存队列堆积多少条数据待同步\">QueueMsgCount: " + v.QueueMsgCount + "</p>";
                    }
                    e.push({
                                sliceid:index+"/"+v.ToServerID,
                                PluginName:v.PluginName,
                                ToServerKey:v.ToServerKey,
                                FieldList:"<p style='max-width: 200px;word-wrap:break-word'>"+fields+"</p>",
                                Others:others,
                                PluginParam:PluginHtml,
                                Error:ErrorHtml,
                                op:op,
                            }
                    );
                });
                $("#tableToServerListContair").attr("DbName",DbName);
                $("#tableToServerListContair").attr("schema",SchemaName);
                $("#tableToServerListContair").attr("TableName",TableName);
                $("#tableToServerListContair").bootstrapTable("load",e);

                var TableName_alias = "";
                if ( TableName.indexOf("*") != -1 ){
                    var tableNames = getTablesByLikeName(TableName);
                    if ( tableNames != "" ) {
                        TableName_alias = tableNames.split(";")[0];
                    }
                    if( TableName_alias == "" ){
                        alert("没有匹配到表名！请检查配置是否正确，或者创建一个符合当前规则表，再进行选择配置！")
                        return false;
                    }
                }else{
                    TableName_alias = TableName
                }
                GetTableFields(SchemaName,TableName_alias);
            };

            var ajaxParam = {DbName:DbName,SchemaName:SchemaName,TableName:TableName};
            Ajax("GET",url, ajaxParam,callback,true);
        }

        function UpdateTableToServerStatus(obj,ToServerID,index,status){
            var url = "";
            var opName = "";
            switch (status){
                case "stop":
                    if (!confirm("确定暂停第 [ "+ index +" ] 条记录？")){
                        return false;
                    }
                    url = "/table/toserver/stop";
                    opName = "暂停";
                    break;
                case "del":
                    if (!confirm("确定删除第 [ "+ index +" ] 条记录？删除将不能恢复？！！！")){
                        return false;
                    }
                    url = "/table/toserver/del";
                    opName = "删除";
                    break;
                case "start":
                    url = "/table/toserver/start";
                    opName = "启动";
                    break;
                default:
                    return;
            }
            var DbName = $("#tableToServerListContair").attr("DbName");
            var SchemaName = $("#tableToServerListContair").attr("schema");
            var TableName = $("#tableToServerListContair").attr("TableName");
            var callback = function (data) {
                if (!data.status){
                    alert(data.msg);
                    return;
                }
                alert(opName+"成功!");
                GetTableToServerList(SchemaName,TableName);
            };
            var ajaxParam = {DbName:DbName,SchemaName:SchemaName,TableName:TableName,Index:index,ToServerId:ToServerID};
            Ajax("POST",url, ajaxParam,callback,true);
        }

        function GetTableFields(SchemaName,TableName){
            var key = SchemaName+"_-"+TableName;
            if (!TableMap.has(key) || TableMap.get(key) == undefined){
                var url = '/db/table/fields';

                var callback = function (data) {
                    TableMap.set(key,data);
                    showFieldsList(key);
                };
                var ajaxParam = {DbName:DbName,SchemaName:SchemaName,TableName:TableName};
                Ajax("GET",url, ajaxParam,callback,true);

            }else{
                showFieldsList(key);
            }
        }
        function showFieldsList(key) {
            var html = "";
            clearTableDataMap();
            TableMap.get(key).forEach(function (value, k, map) {
                var phtml = "";
                setTableFieldType(value.ColumnName,value)
                phtml +='<input type="checkbox" style="width: 20px; height: 20px;" title="'+value.Comment+'" value="'+value.ColumnName+'">';
                phtml += "&nbsp;&nbsp;"+value.ColumnName;
                if (value.ColumnKey == "PRI"){
                    phtml += " (PRI)";
                }
                html += '<p class="fieldsname" style="font-size: 16px; cursor: pointer">&nbsp;'+phtml+' </p>'
            });
            $("#TableFieldsContair").html(html);
        }

        function showSchemaTableList(id,initTableName){
            $("#DatabaseListContair a").removeClass("active");
            $("#"+id).addClass("active");
            var SchemaName = $("#"+id).find("h3").text();
            var DbName = $("#DbName").val();
            var url = "/db/table/list";
            setSchemaName(SchemaName);
            $("#tableToServerListContair").attr("DbName",DbName);
            $("#tableToServerListContair").attr("schema",SchemaName);
            var showTableList = function(data,initTableName){
                $("#TableListContair").html("");
                var initTableNameCanGetTableToServerList = false
                $.each(data,function(index,v) {
                    var html = "";
                    var title = "";
                    if (v.ChannelName != "") {
                        title = " title='Bind Channel : " + v.ChannelName;
                        if (v.IgnoreTable != "") {
                            title += " IgnoreTable: "+v.IgnoreTable;
                        }
                        title += "'";
                    }
                    var tableDivId =  md5(SchemaName + '_-' + v.TableName);
                    html += '<a class="list-group-item"><div class="tableDiv" title="' + v.TableName + '" id="' + tableDivId + '">';
                    html += '<h5 class="left" ' + title + ' onClick="GetTableToServerList(\'' + SchemaName + '\',\'' + v.TableName + '\')">' + v.TableName + '</h5>';
                    if (v.TableType.toUpperCase().indexOf("VIEW") != -1) {
                        html += '<div class="right1">';
                        html += '<div class="button"><button data-toggle="button" class="btn-sm btn-success" type="button">视图</button></div>';
                        html += '</div>';
                    }
                    if (v.TableType.toUpperCase().indexOf("LIKE") != -1) {
                        if (v.AddStatus == true){
                            html += '<div class="right2">';
                            html += '<div class="button"><button data-toggle="button" class="btn-sm btn-warning" type="button" onclick="showUpdateTable(\''+DbName+'\',\''+SchemaName+'\',\''+v.TableName+'\',\''+v.IgnoreTable+'\',\''+v.DoTable+'\')">修改</button></div>';
                            html += '</div>';
                        }
                        html += '<div class="right1">';
                        html += '<div class="button"><button data-toggle="button" class="btn-sm btn-success" type="button" onclick="ShowLikeTableNames(\''+v.TableName+'\',\''+v.IgnoreTable+'\',\''+v.DoTable+'\')">多表</button></div>';
                        html += '</div>';
                    }
                    html += '<div class="right">';
                    if (v.AddStatus == false){
                        html+= '<div class="button"><button data-toggle="button" class="btn-sm btn-warning" type="button" onClick="showAddTable(\''+v.TableName+'\')">ADD</button></div>';
                    }else{
                        if( initTableName == v.TableName ) {
                            initTableNameCanGetTableToServerList = true
                        }
                        html+= '<div class="button"><button data-toggle="button" class="btn-sm btn-danger" type="button" onClick="DelTable(\''+v.TableName+'\')">DEL</button></div>';
                    }
                    html += "<div class='check_input'> <input type='checkbox' name='table_check_name' value='"+v.TableName+"' style='width: 20px; height: 20px;' /></div>";
                    html += '</div>';
                    html +=	'</div></a>';
                    $("#TableListContair").append(html);
                });
                if(initTableNameCanGetTableToServerList && initTableName !="" && initTableName != null && initTableName != undefined) {
                    GetTableToServerList(SchemaName,initTableName);
                }
            }
            if (!DataBaseMap.has(SchemaName) || DataBaseMap.get(SchemaName) == undefined){

                var callback = function (data) {
                    DataBaseMap.set(SchemaName,data);
                    showTableList(data,initTableName);
                };
                var ajaxParam = {DbName:DbName,SchemaName:SchemaName};
                Ajax("GET",url, ajaxParam,callback,true);
            }else{
                showTableList(DataBaseMap.get(SchemaName),initTableName);
            }
            showBatchDelOrAddBtn();
        }

        $(function(){
            $("#plugin_param_div").on("click",":text,textarea",function(){
                OnFoucsInputId = $(this).attr("id");
            });

            $("#DatabaseListContair a").click(
                    function(){
                        $("#TableSearchName").val("");
                        showSchemaTableList($(this).attr("id"));
                    }
            );
            var doChangeToServer = function(){
                if($("#addToServerKey").val()==null){
                    if(confirm("目标库地址为空，是否跳转到 添加 目标库 ？")){
                        window.location.href = "/toserver/index";
                        return;
                    }else{
                        return;
                    }
                }
                //初始化默认参数
                setPluginParamDefault();
                var pluginName = $("#addToServerKey").find("option:selected").attr("pluginName");
                var pluginVersion = $("#addToServerKey").find("option:selected").attr("pluginversion");
                $("#plugin_param_div").load("/plugin/"+pluginName+"/www/"+pluginName+".html?v="+pluginVersion);
                $.getScript("/plugin/"+pluginName+"/www/"+pluginName+".js?v="+pluginVersion,function(){});
                $("#addToServerKeyDoc").attr("href","/docs?plugin="+pluginName+"#pluginDocName");
            }
            //type change, rule change
            $("#addToServerKey").change(function(){
                doChangeToServer();
            });
            doChangeToServer();

            $("#TableFieldsContair").on("dblclick","p.fieldsname",function(){
                if (OnFoucsInputId == ""){
                    return false;
                }
                var fieldName = $(this).find("input").val();
                $("#"+OnFoucsInputId).val($("#"+OnFoucsInputId).val()+"{$"+($.trim(fieldName))+"}");
            });

            $("#addToServerBtn").click(
                    function(){
                        if($("#addToServerKey").val()==null){
                            if(confirm("目标库地址为空，是否跳转到 添加 目标库 ？")){
                                window.location.href = "/toserver/list";
                                return false;
                            }else{
                                return false;
                            }
                        }
                        var p = doGetPluginParam(getPluginFunctionParam());;
                        if (getTableName() == "AllTables"){
                            if(  p.batchSupport != true){
                                alert("当前插件配置不支持 批量 设置!")
                                return false;
                            }
                        }
                        if (p.status == false){
                            alert(p.msg);
                            return false;
                        }
                        var DbName = $("#tableToServerListContair").attr("DbName");
                        var SchemaName = $("#tableToServerListContair").attr("schema");
                        var TableName = $("#tableToServerListContair").attr("TableName");
                        if (TableName == ""){
                            alert("selected table please!");
                            return false;
                        }
                        var MustBeSuccess = $("#MustBeSuccess").val();
                        if (MustBeSuccess == "true"){
                            MustBeSuccess = true;
                        }else{
                            MustBeSuccess = false;
                        }
                        var addToServerKey = $("#addToServerKey").val();
                        var fieldlist = [];
                        $.each($("#TableFieldsContair input:checkbox:checked"),function(){
                            fieldlist.push($(this).val());
                        });
						var FilterQuery = $("#FilterQuery").val();
                        if (FilterQuery == "true"){
                            FilterQuery = true;
                        }else{
                            FilterQuery = false;
                        }
						var FilterUpdate = $("#FilterUpdate").val();
                        if (FilterUpdate == "true"){
                            FilterUpdate = true;
                        }else{
                            FilterUpdate = false;
                        }
                        var pluginName = $("#addToServerKey").find("option:selected").attr("pluginName");
                        var url = '/table/toserver/add';
                        var data = {
                            DbName:DbName,
                            SchemaName:SchemaName,
                            TableName:TableName,
                            ToServerKey:addToServerKey,
                            PluginName:pluginName,
                            MustBeSuccess:MustBeSuccess,
							FilterQuery:FilterQuery,
							FilterUpdate:FilterUpdate,
                            FieldList:fieldlist,
                            PluginParam:p.data,
                        };
                        var callback = function (data) {
                            if(!data.status){
                                alert(data.msg);
                                return false;
                            }
                            GetTableToServerList(SchemaName,TableName);
                            doChangeToServer();
                        };
                        Ajax("POST",url, data,callback,false);
                    }
            );


            $("#batchAddToServerBtn").click(
                    function(){
                        if($("#addToServerKey").val()==null){
                            if(confirm("目标库地址为空，是否跳转到 添加 目标库 ？")){
                                window.location.href = "/toserver/list";
                                return;
                            }else{
                                return;
                            }
                        }
                        var obj = $(this);
                        if ($(obj).text() == "正在提交"){
                            return false;
                        }
                        var p = doGetPluginParam(getPluginFunctionParam());
                        if(  p.batchSupport != true){
                            alert("当前插件配置不支持 批量 设置!")
                            return false;
                        }
                        if (p.status == false){
                            alert(p.msg);
                            return false;
                        }
                        var DbName = $("#tableToServerListContair").attr("DbName");
                        var SchemaName = $("#tableToServerListContair").attr("schema");
                        var tableArr = [];

                        $("#TableListContair .check_input input[type='checkbox']:checked").each(function (index, item) {
                            if($(this).parent().parent().find(".button button").text()=="DEL"){
                                tableArr.push($(this).val());
                            }
                        });

                        if (tableArr.length == 0){
                            alert("请先选择 需要同步的 表");
                            return false;
                        }
                        var fieldlist = [];
                        $.each($("#TableFieldsContair input:checkbox:checked"),function(){
                            fieldlist.push($(this).val());
                        });
                        if (fieldlist.length > 0){
                            alert("批量提交不能选择字段");
                            return false;
                        }
                        var MustBeSuccess = $("#MustBeSuccess").val();
                        if (MustBeSuccess == "true"){
                            MustBeSuccess = true;
                        }else{
                            MustBeSuccess = false;
                        }
                        var addToServerKey = $("#addToServerKey").val();
                        var fieldlist = [];
                        $.each($("#TableFieldsContair input:checkbox:checked"),function(){
                            fieldlist.push($(this).val());
                        });
                        var FilterQuery = $("#FilterQuery").val();
                        if (FilterQuery == "true"){
                            FilterQuery = true;
                        }else{
                            FilterQuery = false;
                        }
                        var FilterUpdate = $("#FilterUpdate").val();
                        if (FilterUpdate == "true"){
                            FilterUpdate = true;
                        }else{
                            FilterUpdate = false;
                        }
                        var pluginName = $("#addToServerKey").find("option:selected").attr("pluginName");
                        var url = '/table/toserver/add';
                        var data = {
                            DbName:DbName,
                            SchemaName:SchemaName,
                            TableName:TableName,
                            ToServerKey:addToServerKey,
                            PluginName:pluginName,
                            MustBeSuccess:MustBeSuccess,
                            FilterQuery:FilterQuery,
                            FilterUpdate:FilterUpdate,
                            FieldList:fieldlist,
                            PluginParam:p.data,
                        }
                        $(obj).text("正在提交");
                        $("#batchAddToServerResultDiv").html("");
                        var resultFun = function (content) {
                            $("#batchAddToServerResultDiv").append("<p>"+content+"</p>");
                        }
                        resultFun("开始提交");
                        for(var i in tableArr) {
                            data.TableName = tableArr[i];

                            var callback = function (dataResult) {
                                if(dataResult.status){
                                    resultFun(tableArr[i]+" success");
                                }else{
                                    resultFun(tableArr[i]+ " "+ dataResult.msg);
                                }
                            };
                            Ajax("POST",url, data,callback,false);
                        }
                        resultFun("执行完成");
                        $(obj).text("批量提交");
                    }
            );

        });

        function DealWaitErr(obj,ToServerID){
            var thisButton = $(obj);
            var index0 = $(obj).parent().parent().parent("tr").children().eq(0).html();
            var DbName = $("#tableToServerListContair").attr("DbName");
            var SchemaName = $("#tableToServerListContair").attr("schema");
            var TableName = $("#tableToServerListContair").attr("TableName");
            var index = index0.split("/")[0];
            var url = "/table/toserver/deal";

            var callback = function (dataResult) {
                if(!dataResult.status){
                    alert(dataResult.msg);
                    return false;
                }
                $(thisButton).parent().parent().html("");
            };
            Ajax("POST",url,{DbName: DbName,SchemaName:SchemaName,TableName:TableName,ToServerId:parseInt(ToServerID),Index:parseInt(index)},callback,false);
        }


        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        function init(){
            var querySchemaName = getQueryString("schema");
            var queryTableName = getQueryString("TableName");
            if(querySchemaName == null) {
                //默认选择第一个非 mysql 自带的库作为选中
                $.each($("#DatabaseListContair a"),function(){
                    var id = $(this).attr("id");
                    if(querySchemaName != null){
                        return;
                    }
                    // 过滤系统级别的库
                    if(id == "Schema-information_schema" || id == "Schema-mysql" || id == "Schema-performance_schema"){
                        return
                    }
                    querySchemaName = id;
                });
                if(querySchemaName != null){
                    showSchemaTableList(querySchemaName);
                }
            }else{
                if( $("#Schema-"+querySchemaName).length <= 0){
                    return false;
                }
                showSchemaTableList("Schema-"+querySchemaName);
                if(queryTableName!=null){
                    GetTableToServerList(querySchemaName,queryTableName);
                }
            }
        }

        init();

        $("#TableSearchName").keyup(function(event){
            if(event.keyCode ==13){
                var TableSearchName = $("#TableSearchName").val();
                $('#TableListContair a').each(function(){
                    var tmpName = $(this).find(":input[name=table_check_name]").val();
                    if( TableSearchName == "" || tmpName.indexOf(TableSearchName) > -1 ){
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                });
            }
        });

        function InitSchemaAndTableSelect() {
            var urlParams = new URLSearchParams(window.location.search);
            var schema= urlParams.get("schema");
            var table= urlParams.get("TableName");
            if(schema == "" || schema ==null || schema == undefined){
                // 全量任务和表同步列表提交过来的url这个字段不一样,这里只在这里修改,后续再统一
                schema=urlParams.get("SchemaName");
            }
            if(schema == "" || schema ==null || schema == undefined){
                return
            }
            if(schema=="*"){
                schema = "AllDataBases";
            }
            if(table=="*"){
                table = "AllTables";
            }
            $("#DatabaseListContair h3:contains('"+schema+"')").each(function(){
                showSchemaTableList($(this).closest("a").attr("id"),table)
            });
        }
        function UpdateWebUri(SchemaName,TableName) {
            if(SchemaName=="AllDataBases"){
                SchemaName = "%2a";
            }
            if(TableName=="AllTables"){
                TableName = "%2a";
            }
            window.history.replaceState(null, null, '?DbName='+getDbName()+"&SchemaName="+SchemaName+"&TableName="+TableName);
        }
        InitSchemaAndTableSelect();
    </script>

{{template "db.detail.table.add" .}}

{{template "db.detail.history.add" .}}

{{template "footer" .}}