{{define "footer"}}

<style type="text/css">
.pull-right { margin-right:12px }
.pull-left { margin-left:12px }
.pull-left a {color: #676a6c; margin-right: 5px; }
.pull-left span { margin-right: 5px; }
.pull-left a:hover { text-decoration: underline; }
</style>
<div class="footer">
    <div class="pull-right">

        &nbsp;

        &nbsp;

    </div>
    <div class="pull-left">
        <a href="/api/docs" target="_blank">HTTP API</a> <span>|</span>
        <a href="http://wiki.xbifrost.com" target="_blank">Document</a> <span>|</span>
        <a href="https://github.com/brokercap/Bifrost" target="_blank">GitHub</a> <span>|</span>
        <a href="https://gitee.com/jc3wish/Bifrost" target="_blank">Gitee</a> <span>|</span>
        <a href="http://www.xbifrost.com#donate" target="_blank">Donate</a> <span>|</span>
        <a href="https://github.com/brokercap/Bifrost/issues" target="_blank">Issue</a> <span>|</span>
        <a href="https://github.com/brokercap/Bifrost/blob/master/changelog.txt" target="_blank">Changelog</a>
        <span>&nbsp;</span>
        <span>Copyright</span> <a href="http://www.xbifrost.com" target="_blank">xBifrost.com</a>
        <span>&copy; 2020</span>
        By：<a href="http://www.xbifrost.com" target="_blank">jc3wish</a>

        <span>version:</span> <span id="version_contair">{{.Version}}</span>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    $(function(){
        $(":text").change(
                function(){
                    $(this).val($.trim($(this).val()));
                }
        );
    });
</script>
<link href="/js/plugins/chardin.js/chardinjs.css" rel="stylesheet">
<script src="/js/plugins/chardin.js/chardinjs.js?v0.2.0"></script>
<script src="/js/guide.js?v1.2.1_20200516"></script>
{{end}}