{{template "header" .}}

<div class="ibox float-e-margins" >
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"></div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>通用</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h2><strong>DDL 支持说明</strong></h2>
                    <p>当前只支持字段在表结构末尾追加新字段，如果配置的二进制位点是在DDL 之前的位点，会出现数据和字段对应不上</p>
                    <p>数据类型修改之后，如果配置的二进制位点是在DDL 之前的位点，可能会出现数据出错</p>
                    <p>&nbsp;</p>
                    <h2><strong>存储类型数据转换</strong></h2>
                    <p>从Binlog解析出来的数据,在转成 map[string]interface{} 的数据格式的时候</p>
                    <p>MySQL里的存储类型对应Golang里的数据类型不一样</p>
                    <p>括号里的代表是Golang里的数据类型</p>
                    <p>TINYINT ( int8 | unit8 ) , SMALLINT ( int16 | unit16 ) , MEDIUMINT ( int32 | uint32 ), INT ( int32 | uint32 ) , BIGINT ( int64 | uint64 )<p>
                    <p>FLOAT ( float32 ) , DOUBLE ( float64 ) ,REAL ( float64 )</p>
                    <p>DECIMAL , NUMERIC( 返回string类型 )</p>
                    <p>DATE , TIME , YEAR , DATETIME , TIMESTAMP   ( string类型 )</p>
                    <p>CHAR , VARCHAR ( string ) </p>
                    <p>TEXT , TINYTEXT , MEDIUMINTTEXT , LONGTEXT ( string )</p>
                    <p>BLOB, TINYBLOB , MEDIUMINTBLOB , LONGBLOB ( string )</p>
                    <p>ENUM ( string类型 )</p>
                    <p>SET ( []string )</p>
                    <p>BIT ( int64类型 )</p>
                    <p>&nbsp;</p>
                    <h2><strong>标签</strong></h2>
                    <p><strong>{$SchemaName} : </strong>  数据库名字</p>
                    <p><strong>{$TableName} : </strong>  表的名字</p>
                    <p><strong>{$EventType} : </strong>  当前记录的增删改事件,新增(insert); 修改(update) ; 删除(delete); SQL(sql)</p>
                    <p><strong>{$字段名} : </strong>  表的字段数据</p>
                    <p>&nbsp;</p>
                    <h2><strong>其他配置</strong></h2>
                    <p>&nbsp;</p>
                    <h3><strong>MustBeSuccess</strong></h3>
                    <p><strong>True : </strong> 当提交到 toServer 返回true 的时候,会进行重试操作,直到成功或者手工设置Miss 错过操作</p>
                    <p><strong>False : </strong> 不管提交到 toServer 返回true 或者 false,都不进行重试提交</p>

                    <p>&nbsp;</p>
                    <h3><strong>FilterQuery</strong></h3>
                    <p><strong>True : </strong> 将过滤sql 事件，不提供给插件层处理</p>
                    <p><strong>False : </strong> 由插件层自行决定怎么处理</p>

                    <p>&nbsp;</p>
                    <h3><strong>FilterUpdate</strong></h3>
                    <p><strong>True : </strong> update事件，所选字段内容都没有变更情况下，不进行推送</p>
                    <p><strong>False : </strong> 不管字段有没有更新，全部都会推送</p>

                    <p>&nbsp;</p>

                    <h3><strong>Fields</strong></h3>
                    <p>默认为全选, 选中的字段才会进行解析推送</p>

                </div>
            </div>
        </div>

    </div>


    <a name="pluginDocName">&nbsp;</a>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Plugin 配置</h5>
                   
                    <div style="float: right; margin-top: -10px">
                        <select class="form-control" name="type" id="PluginList">
                        {{range $k, $val := .Drivers}}
                            <option value="{{$k}}" version="{{$val.Version}}" > {{$k}} - {{$val.Version}}</option>
                        {{end}}
                        </select><span class="help-block m-b-none"></span>
                    </div>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                
                <div class="ibox-content col-sm-12" >
                	
                     <div class="col-sm-7">
                     	<div class="col-sm-12 ibox-content" id="PluginDocDiv" style="border:0px"></div>
                     </div>
                     
                     
                     <div class="col-sm-5" >
                     	<div class="col-sm-12 ibox-content" id="PluginWebDiv" style="border-top:0px;"></div>
                     </div>
                </div>
            </div>
        </div>

	

    </div>

</div>

{{template "footer" .}}

<script type="text/javascript">
    function GetPluginDoc(){
        var key = $("#PluginList").val();
        var pluginVersion = $("#PluginList").find("option:selected").attr("version");
        $("#PluginDocDiv").load("/plugin/"+key+"/www/doc.html?v="+pluginVersion,function( response, status, xhr ){
            if ( status == "error" ) {
                $("#PluginDocDiv").html(key+ " no docs");
            }
        });
		$("#PluginWebDiv").load("/plugin/"+key+"/www/"+key+".html?v="+pluginVersion);
		$.getScript("/plugin/"+key+"/www/"+key+".js?v="+pluginVersion,function(){});
    }
    $("#PluginList").change(
        function(){
            GetPluginDoc();
        }
    );
    var pluginKey="{{.PluginKey}}"
    if(pluginKey == ""){
        GetPluginDoc();
    }else{
        $("#PluginList").val(pluginKey);
        GetPluginDoc();
        location.href = "#pluginDocName";
    }


</script>
