
{{template "header" .}}

<div class="ibox float-e-margins" >
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"></div>

    </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>流量趋势图
                         {{if ne .TableName "" }}
                         - TableName: {{.TableName}}
                         {{end}}
                         
                         {{if ne .Schema "" }}
                         - Schema: {{.Schema}}
                         {{end}}
                           
                         {{if ne .ChannelId "" }}
                         - Channel: {{.ChannelId}}
                         {{end}}
                         
                         {{if ne .DbName "" }}
                         - DB: {{.DbName}}
                         {{else}}
                         - ALL
                         {{end}}
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>

                        <div class="ibox-tools" style="width: auto; padding-right:8px;">
							<select class="form-control" style=" margin-top:-8px;" id="selectLengthsAge">
                            	<option value="minute">1 分钟</option>
                            	<option value="tenminute">10 分钟</option>
                            	<option value="hour">1 小时</option>
                                <option value="eighthour">8 小时</option>
                                <option value="day">24 小时</option>
                            </select>
                        </div>       
                        
                        <div class="ibox-tools" style="width: auto; padding-right:8px;">
							<select class="form-control" style=" margin-top:-8px;" id="data_display_format">
                            	<option value="increment" selected="selected">增量</option>
                            	<option value="full">全量</option>
                            </select>
                        </div>                                 
                </div>
                    
                    <div class="ibox-content">
                        <canvas id="morris-line-chart" ></canvas>
                    </div>
                </div>
            </div>
        </div>



</div>


{{template "footer" .}}

<script src="/js/chart.js"></script>
<script type="text/javascript">
	var dbName = "{{.DbName}}";
	var ChanneId = "{{.ChannelId}}";
	var schema = "{{.Schema}}";
	var tableName = "{{.TableName}}";

	var CountType = "条";
	var ByteSizeType = "b";
	var data = [];

	function add0(m){return m<10?'0'+m:m }
	function TimeFormat(timeUnix)
	{
		//timeUnix是整数，否则要parseInt转换
		var time = new Date(parseInt(timeUnix)*1000);
		var y = time.getFullYear();
		var m = time.getMonth();
		var d = time.getDate();
		var h = time.getHours();
		var mm = time.getMinutes();
		var s = time.getSeconds();
		return y+'-'+add0(m)+'-'+add0(d)+' '+add0(h)+':'+add0(mm)+':'+add0(s);
	}

	function rewrite_data(d){
        if (d.length == 0){
            return false
        }
		var ChartData = {};
        ChartData.options = {};
        ChartData.labels=[];
        ChartData.datasets=[];

        var ByteSizeData={};
        ByteSizeData.data=[];
        ByteSizeData.fillColor= "#1ab394";
        ByteSizeData.strokeColor = "#1ab394";
        ByteSizeData.highlightFill="#1ab394";
        ByteSizeData.highlightStroke= "#1ab394";
        //ByteSizeData.backgroundColor =  '#1ab394';
		ByteSizeData.borderColor ="#1ab394";
        ByteSizeData.label = "ByteSize("+ByteSizeType+")";

        var CountData = {};
        CountData.data=[];
        CountData.fillColor= "#5CACEE";
        CountData.strokeColor = "#5CACEE";
        CountData.highlightFill="#5CACEE";
		CountData.highlightStroke= "#5CACEE";
        //CountData.backgroundColor =  "#5CACEE";
        CountData.borderColor ="#5CACEE";
        CountData.label = "Count("+CountType+")";
        for (i in d) {
            ChartData.labels.push(d[i].time);
            ByteSizeData.data.push(d[i].ByteSize);
            CountData.data.push(d[i].Count);
		}
        ChartData.datasets.push(ByteSizeData);
        ChartData.datasets.push(CountData);

        var ctx = document.getElementById("morris-line-chart").getContext("2d");
        var chart = new Chart(ctx, {type:"line",data:ChartData});
	}
	
	function incrementData(d){
		CountType = "条";
		ByteSizeType = "b";
		var Count = -1;
		var ByteSize = -1;
		for (s in d) {
			if (d[s].Time > 0){
				if (Count == -1){
					Count = d[s].Count;
					ByteSize = d[s].ByteSize;
					continue;
				}
				var tSize = d[s].ByteSize-ByteSize;
				if( tSize < 0){
					tSize = 0;
				}
				var tCount = d[s].Count-Count;
				if (tCount < 0){
					tCount = 0;
				}
				data.push({
					time: TimeFormat(d[s].Time),
					Count: tCount,
					ByteSize: tSize,
				});
				Count = d[s].Count;
				ByteSize = d[s].ByteSize;
			}
		}
		return data;
	}
	
	function fullData(d){
		CountType = "条"
		ByteSizeType = "b"
		if (d[0].Count > 100000){
			CountType = "k"
		}
		if (d[0].ByteSize >= 1024000 ){
			ByteSizeType = "kb"
		}

		if (d[0].ByteSize >= 1024000000 ){
			ByteSizeType = "MB"
		}

		if (d[0].ByteSize >= 1024000000000 ){
			ByteSizeType = "GB"
		}

		for (s in d) {
			if (d[s].Time != ""){
				var Count = 0
				if (CountType == "k"){
					Count =(d[s].Count/1000).toFixed(2)
				}else{
					Count = d[s].Count
				}
				var ByteSize = 0
				switch (ByteSizeType){
					case "b":
						ByteSize = d[s].ByteSize;
						break
					case "kb":
						ByteSize =(d[s].ByteSize/1024).toFixed(2)
						break
					case "MB":
						ByteSize =(d[s].ByteSize/1024000).toFixed(2)
						break
					case "GB":
						ByteSize =(d[s].ByteSize/1024000000).toFixed(2)
						break
				}

				data.push({
					time: TimeFormat(d[s].Time),
					Count: Count,
					ByteSize: ByteSize,
				});
			}
		}
		return data;
	}
	
	function getFlowData() {
        data = [];

        $.post(
                "/flow/get",
                {
                    dbname: dbName,
                    schema: schema,
                    table_name: tableName,
                    channelid: ChanneId,
                    type: $("#selectLengthsAge").val()
                },
                function (d, status) {
                    if (status != "success") {
                        return false;
                    }
				//	console.log(d);
                    //写入到曲线
					if ($("#data_display_format").val() == "full"){
						rewrite_data(fullData(d));
					}else{
						rewrite_data(incrementData(d));
					}
                    
                }, 'json');
    }
	getFlowData();

	$(function(){
		$("#selectLengthsAge").change(
			function(){
                getFlowData();
			}
		);
		$("#data_display_format").change(
			function(){
                getFlowData();
			}
		);
	});
	var IntervalFun = getFlowData;

</script>

<script src="/js/timeInterval.js"></script>
