{{define "footer"}}
<div class="footer">
    <div class="pull-right">
    </div>
    <div>
        <strong>Copyright</strong> <a href="http://www.xbifrost.com" target="_blank">xBifrost.com</a> &copy; 2020
        &nbsp;&nbsp;&nbsp;&nbsp;
        By：<a href="http://www.xbifrost.com" target="_blank">jc3wish </a>  version: <span id="version_contair"></span>

    </div>
</div>

</body>
</html>
<script type="text/javascript">
    $(function(){
        $.get(
            "/getversion",
            {},
            function (data, status) {
                if (status != 'success') {
                    //alert("reqeust error, reqeust status : "+status);
                    return;
                }
                if (!data.status) {
                    // alert(data.msg);
                    return;
                } else {
                    $("#version_contair").text(data.msg);
                }
            },
            'json');
        $(":text").change(
			function(){
				$(this).val($.trim($(this).val()));
			}
		);
    });
</script>
<link href="/js/plugins/chardin.js/chardinjs.css" rel="stylesheet">
<script src="/js/plugins/chardin.js/chardinjs.js?v0.2.0"></script>
<script src="/js/guide.js?v1.2.1_20200516"></script>
{{end}}