
{{template "header" .}}

<div class="ibox float-e-margins" >
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"></div>

    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>流量</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                    <div class="ibox-tools" style="width: auto; padding-right:8px;">
                        <select class="form-control" style=" margin-top:-8px;" id="selectLengthsAge">
                            <option value="minute">1 分钟</option>
                            <option value="tenminute">10 分钟</option>
                            <option value="hour">1 小时</option>
                            <option value="eighthour">8 小时</option>
                            <option value="day">24 小时</option>
                        </select>
                    </div>

                    <div class="ibox-tools" style="width: auto; padding-right:8px;">
                        <select class="form-control" style=" margin-top:-8px;" id="data_display_format">
                            <option value="increment" selected="selected">增量</option>
                            <option value="full">全量</option>
                        </select>
                    </div>
                </div>

                <div class="ibox-content">
                    <canvas id="morris-line-chart" ></canvas>
                </div>
            </div>
        </div>
    </div>



</div>


{{template "footer" .}}

<script src="/js/chart.js"></script>
<script src="/js/flow.js"></script>
<script type="text/javascript">
    var flowObj = new FlowClass("tenminute","morris-line-chart","increment");
    flowObj.getFlowData();

    $(function(){
        $("#selectLengthsAge").change(
                function(){
                    flowObj.setType($(this).val());
                    flowObj.getFlowData();
                }
        );
        $("#data_display_format").change(
                function(){
                    flowObj.setDisplayFormat($(this).val());
                    flowObj.getFlowData();
                }
        );
    });
    var IntervalFun = function () {
        flowObj.getFlowData();
    }

</script>

<script src="/js/timeInterval.js"></script>
